.detailed-topRow{
    margin-top: 20px;
}

.detailed-artwork{
    height: 225px;
    background-color: grey;
    text-align: center;
    border: 3px solid black;
}

.detailed-trailer{
    height: 225px;
    background-color: grey;
    text-align: center;
    border: 3px solid black;
}

.detailed-bottomRow{
    float: left;
    margin-top: 20px;
}

.detailed-button{
    float: right;
    margin-right: 80px;
}